.list-container {
  padding: 20px;
  align-items: center;
}

.text-container {
  padding: 20px;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.have-ingredient-false {
}

.have-ingredient-true {
}

.account-form-container {
  background-color: #ffffff;
  min-height: 30vh;
  /* max-height: 600vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
}

.menu {
  display: flex;
  background-color: blue;
}

.menu_item {
  justify-content: center;
}
